# Compiled Java files
*.class

# IDE-specific files (Eclipse)
.project
.classpath

# IDE-specific files (IntelliJ IDEA)
.idea/
*.iml

# Build output
bin/
build/

# Operating system files (macOS)
.DS_Store

#VS Code
.vscode/*

# Database files
mysql-data/
*.log
*.pid
*.sock